@charset "utf-8";
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
/* reset */
html, body, h1, h2, h3, h4, h5, h6, p, div, th, td, table, pre, code, form, fieldset, legend, input, button, address, ol, ul, li, dl, dt, dd, img, textarea, blockquote {margin:0;padding:0;}
html,body{height:100%;}
body,input,textarea,select,button{color:#222; font:16px/1.4 Bebas Neue, Dotum,'돋움',arial, sans-serif;}
h1,h2,h3,h4,h5,h6,strong{font-size:100%;font-weight:normal;}
li{list-style:none;}
img, fieldset {vertical-align:top;border:none;}
legend,hr,.blind {position:absolute; left:-9999px;}
caption{text-indent:-9999px;height:0;overflow:hidden;visibility:hidden;}
img,button,input[type="submit"],input[type="button"],input[type="reset"]{border:none;}
a:link, a:visited, a:active, a:hover, a:focus {text-decoration:none;color:#222;}
input,select,button{vertical-align:middle;}
input[type="text"],input[type="email"],input[type="url"],input[type="search"],input[type="password"],select,textarea{border:1px solid #ddd;height:22px;}
address,em,i{font-style:normal;}
button,input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;background:none}
table{width:100%;border-collapse:collapse;border-spacing:0;}
textarea{resize:none;vertical-align:middle;padding:2px;}

#wrap{position:relative;margin-top:90px;}
.ly_inner{position:relative;max-width:1280px;margin:0 auto;}
/* header */
#header{margin-top:-90px;width:100%;height:90px;z-index:10;}
#header.white{position:fixed;box-shadow:0 -4px 14px 0 rgba(0,0,0,0.2);background:rgba(248,255,255,0.8);}
.skipMenu a{width:100%;position:absolute;top:-200px;left:0;padding:5px 0;background:#000;color:#fff;text-align:center;font-weight:bold;z-index:10;}
.skipMenu a:focus{top:0;}
.btn_nav{display:none}
#header h1{display:inline-block;padding:26px 0 25px;}
#header .home{display:block;}
#gnb{position:absolute;top:50%;right:0;transform:translateY(-50%);}
#gnb li{float:left;padding:0 10px;width:100px;box-sizing:border-box;text-align:center;font-weight:300;}
#gnb li.on > a{font-weight:500;}
#gnb li > a{display:block;padding:10px 0;}

/* common */
#container > section{position:relative;padding:100px 0;box-sizing:border-box;}

#main{position:relative;height:100vh;padding-top:0;}
#main hgroup{height:340px;padding-top:100px}
#main .h2_tit{font-size:180px;line-height:170px;font-weight:700;}
#main .h3_tit{display:none;font-size:48px;font-weight:700;}
#main .txt_sub{position:absolute;top:50%;margin-top:80px;left:50%;margin-left:-300px;display:inline-block;width:300px;height:30px;border-top:1px solid #a9a9a9;font-size:18px;font-weight:500;text-align:right;}
.main_logo{position:absolute;top:-40px;right:0;max-width:500px;width:100%;z-index:-1;opacity:0.7}

.btn_wrap{position:absolute;bottom:0;left:50%;}
.btn_scroll{position:absolute;top:-25px;left:50%;transform:translateX(-50%);display:block;font-family:Microsoft PhagsPa;font-size:12px;animation:bounceUp 0.7s infinite linear;background:none;}
.box_line{position:absolute;left:50%;display:block;width:50%;height:300px;border-right:1px solid #a9a9a9;animation: lineMove 2s linear;}
@keyframes bounceUp {
   0%{ top:-30px; }
   50%{ top:-25px; }
   100%{ top:-30px; }
}
@keyframes lineMove {
   0%{ height:0; }
   100%{ height:200px; }
}

h2.title{padding-bottom:100px;text-align:center;font-size:24px;font-weight:700;line-height:1.2;}
h2.title span{position:relative;display:inline-block;border-top:5px solid #232323;padding-top:5px;}

/* works */
#works{height:auto;background:#f6f6f6;}
#works h2.title{padding-bottom:50px;}
.work-swiper-wrap{position:relative;padding:0 50px;}
.work_list{overflow:hidden;max-width:1280px;height:830px;margin:0 auto;padding-bottom:30px;}
.work_list ul{margin:0 -15px;}
.work_list ul:after{content:'';display:block;clear:both;}
.work_list ul > li{float:left;width:calc(33.333% - 30px);padding:15px;}
.work_list .swiper-slide{height:calc((785px - 30px) / 2) !important;}
.work_list a{position:relative;display:block;}
.work_list img{width:100%;border-radius:10px;overflow:hidden;}
.work_list .project{position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;width:100%;height:100%;background:rgba(12,72,54,0.5);z-index:3;text-align:center;border-radius:10px;overflow:hidden;}
.work_list .title{display:flex;align-items:center;justify-content:center;margin:0 auto;width:250px;height:70px;padding:8px;box-sizing:border-box;border:2px solid #fff;border-radius:5px;font-size:18px;font-family:Noto Sans KR;color:#fff;}
.work_list .desc{display:inline-block;padding-top:10px;font-size:14px;font-family:Noto Sans KR;font-weight:100;color:#fff;}
.pagination-wrap{margin:30px 0;display:flex;align-items:center;justify-content:center;}
.swiper-pagination{position:relative;z-index:1;}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-horizontal > .swiper-pagination-bullets{top:auto;bottom:auto;display:inline-block;width:auto;font-size:0;text-align:left;}
.swiper-pagination-bullet{display:inline-block;width:30px;height:4px;border-radius:2px;font-size:1px;color:transparent;}
.swiper-pagination-bullet-active{background:#333;}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px;}
.swiper-play{display:none;margin-left:15px;width:9px;height:13px;background:url(../images/works/icon_pause.png) no-repeat 0 0 / 17px 13px;}
.swiper-stop{margin-left:16px;width:8px;height:13px;background:url(../images/works/icon_pause.png) no-repeat  -9px 0 / 17px 13px;}
.swiper-button{top:50%;margin-top:20px;display:block;width:30px;height:30px;border:2px solid #333;border-width:2px 2px 0 0;background:none;font-size:1px;color:transparent;z-index:3;}
.swiper-button-next{transform:rotate(45deg)}
.swiper-button-prev{transform:rotate(-135deg)}

/* skill */
#skill{padding-bottom:50px;text-align:center;}
.skill_list{display:inline-block;text-align:left;font-family:Noto Sans KR;color:#22464e;font-weight:300;}
.skill_list > li{opacity:0;position:relative;margin-bottom:20px;}
.skill_list > li .txt_wrap{text-align:center;}
.skill_list > li .txt_wrap .ico_skill{display:inline-block;width:150px;height:61px;margin-bottom:10px;background:url(../images/skill/bg_skill_html.png) no-repeat 0 0 / 100%;}
.skill_list > li .txt_wrap .ico_skill.skill2{width:218px;height:67px;background:url(../images/skill/bg_skill_css.png) no-repeat 0 0 / 100%;}
.skill_list > li .txt_wrap .ico_skill.skill3{width:51px;height:65px;background:url(../images/skill/bg_skill_js.png) no-repeat 0 0 / 100%;}
.skill_list > li .txt_wrap .ico_skill.skill4{width:328px;height:90px;background:url(../images/skill/bg_skill_etc.png) no-repeat 0 0 / 100%;}
.skill_list > li span+span{padding-left:10px;font-size:24px;vertical-align:middle;font-weight:500;}

/* about */
#about{box-sizing:border-box;text-align:center;background:#f6f6f6;}
.about_wrap{position:relative;width:550px;margin:100px auto 0;}
#about h3{position:absolute;top:-110px;left:-90px;font-size:79px;font-weight:700;}
.info_me{position:relative;display:inline-block;margin-top:20px;text-align:left;}
.info_me li{opacity:0;margin-bottom:20px;font-size:14px;}
.info_me li span{font-family:Noto Sans KR;font-weight:700;}
.info_me li span.date{display:inline-block;width:212px;}
.info_me:before{content:"";position:absolute;top:-20px;left:-200px;display:block;width:800px;height:1px;background-color:#ffde00}
.info_me:after{content:"";position:absolute;bottom:-20px;right:-160px;display:block;width:800px;height:1px;background-color:#42bdac}

/* contact */
#contact{height:100vh;text-align:center;}
.mail_area{position:relative;margin-top:50px;}
.mail_area h3{font-size:48px;font-weight:700;}
.btn_mail{margin:20px auto 0;display:block;box-sizing:border-box;width:205px;height:53px;line-height:53px;cursor:pointer;font-size:30px;font-weight:400;border:1px solid #000;border-radius:8px;background-color:#fff;}
.btn_mail:hover{background-color:#e4fb9d;color:#151909;}
.mail_area p{padding-top:50px;font-weight:300;}
.bg_con_01{position:absolute;left:50%;top:23px;margin-left:-133px;z-index:-1}

/* footer */
#footer{padding:30px 0;background-color:#008381;}
.bottom_area{max-width:1280px;margin:0 auto;text-align:right;}
.bottom_area span{vertical-align:bottom;font-weight:300;font-size:10px;}
#footer .bottom_area > a{display:inline-block;width:60px;}
#footer .bottom_area img{width:100%;}

/* popup */
.pop_wrap{display:none;position:fixed;top:0;bottom:0;left:0;right:0;width:100%;background:rgba(0,0,0,0.7);transition:all 1s;z-index:1000;}
.pop_wrap.is_visible{display:flex;justify-content:center;align-items:center;font-family:Noto Sans KR;}
.pop_wrap .popup{position:relative;width:300px;background:#fff;border-radius:7px;overflow:hidden;}
.pop_head{padding:15px 16px;background:#333;color:#fff;border-radius:5px 5px 0 0;}
.pop_head h1{text-align:center;font-size:16px;}
.pop_cont{padding:40px 20px;}
.pop_cont p{font-size:14px;text-align:center;color:#333;}
.pop_close{position:absolute;top:0;right:5px;width:52px;height:52px;color:transparent;font-size:0.1px;background:none;}
.pop_close:before,.pop_close:after{position:absolute;top:17px;right:24px;content:'';display:block;width:1px;height:18px;background:#fff;}
.pop_close:before{transform:rotate(45deg);}
.pop_close:after{transform:rotate(-45deg);}

#btn_top{display:none;position:fixed;bottom:70px;right:30px;width:60px;height:60px;border-radius:100%;border:1px solid #ddd;box-shadow:0 5px 9px -1px rgba(0,0,0,0.1);background: rgba(248,255,255,0.5) url(../images/common/img_top_arrow.png) no-repeat center / 15px 8px;color:transparent;font-size:1px;z-index:15;}
#btn_top.on{display:block;}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:900px) {
   #wrap{margin:0;}
   #header{position:absolute;height:60px;margin-top:0;padding:10px 0;box-sizing:border-box;}
   #header h1{padding:0;}
   .ly_inner{max-width: initial;padding:0 16px;height:100%;}
   #header .ly_inner{display:flex;justify-content: space-between;align-items:center;display:-webkit-flex;-webkit-justify-content:space-between;-webkit-align-items:center;}
   .btn_nav{display:block;width:20px;height:20px;background:none;}
   .btn_nav > i{display:block;width:20px;height:1px;background:#000;opacity:1;transition:all 0.2s linear;-webkit-transition:all 0.2s linear;}
   .btn_nav > i + i{margin-top:5px;}
   .btn_nav.on{position:relative;}
   .btn_nav.on > i{position:absolute;top:50%;left:0;}
   .btn_nav.on > i + i{margin-top:0;}
   .btn_nav.on > i:nth-child(1){transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
   .btn_nav.on > i:nth-child(2){display:none;}
   .btn_nav.on > i:nth-child(3){transform:rotate(45deg);-webkit-transform:rotate(45deg);}
   #gnb{display:none;transform:none;-webkit-transform:none;z-index:5;box-shadow:0 14px 18px -13px rgba(0,0,0,0.2)}
   #gnb.active{display:block;position:absolute;top:50px;left:0;}
   #gnb li{float:none;width:100%;background:rgba(255,255,255,0.9);}
   #gnb li + li > a{border-top:1px dotted #777}
   #container section{padding:60px 0;}
   h2.title{padding-bottom:50px;}

   /* main */
   #main hgroup{height:250px;padding-top:30%;box-sizing:border-box;text-align:center;}
   #main .h2_tit{font-size:50px;line-height:1.2;}
   #main .h3_tit{font-size:24px;}
   #main .txt_sub{position:static;margin-left:-16px;margin-top:30px;width:200px;}
   .main_logo{right:initial;top:50%;left:50%;margin-top:-145px;transform:translateX(-50%);width:70%;opacity:0.7}
   .btn_wrap{bottom:40px;}
   
   /* works */
   .work_list{height:auto;padding-bottom:0;}
   .work-swiper-wrap{padding:0 25px;}
   .work_list .swiper-slide{height:auto !important;} 
   .swiper-pagination-bullet{width:4px;height:4px;border-radius:100%;}
   .work_list .title{width:180px;font-size:14px;}
   .swiper-button{margin-top:36px;width:15px;height:15px;}
   .swiper-button-next{right:0;}
   .swiper-button-prev{left:0;}

   /* skill */
   .skill_list > li .txt_wrap .desc{font-size:14px;}
   .skill_list > li{margin-bottom:30px;}
   .skill_list > li .txt_wrap .ico_skill{width:120px;height:60px;}
   .skill_list > li .txt_wrap .ico_skill.skill2{width:160px;height:60px;}
   .skill_list > li .txt_wrap .ico_skill.skill3{width:40px;height:60px;}
   .skill_list > li .txt_wrap .ico_skill.skill4{width:200px;height:60px;}

   /* about */
   .about_wrap{width:auto;margin-top:0;}
   #about h3{position:relative;top:0;left:0;padding-left:20px;font-size:40px;text-align:left;}
   .info_me{display:block;padding:0 20px;}
   .info_me li > span{display:block;font-size:12px;}
   .info_me:before{left:0;width:100%;}
   .info_me:after{right:0;width:100%;}

   /* contact */
   #contact{height:calc(100vh - 71px);}

   #footer{padding:20px 16px;}
   #footer .bottom_area > a{width:40px;}

   /* popup */
   .pop_wrap .popup{width:90%}

   /* btn_top */
   #btn_top{width:40px;height:40px;right:16px;bottom:50px;}
}