@font-face {
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-style: normal;
    src: url('BebasNeue/BebasNeue-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    font-weight: 200;
    font-style: normal;
    src: url('BebasNeue/BebasNeue-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    font-weight: 300;
    font-style: normal;
    src: url('BebasNeue/BebasNeue-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-style: normal;
    src: url('BebasNeue/BebasNeue-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-style: normal;
    src: url('BebasNeue/BebasNeue-Bold.otf') format('opentype');
}

/* font - Noto Sans KR */
@font-face
{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('notoSans/NotoSansKR-Thin.woff2') format('woff2'),
        url('notoSans/NotoSansKR-Thin.woff') format('woff'),
        url('notoSans/NotoSansKR-Thin.otf') format('opentype');
}

@font-face
{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('notoSans/NotoSansKR-Light.woff2') format('woff2'),
        url('notoSans/NotoSansKR-Light.woff') format('woff'),
        url('notoSans/NotoSansKR-Light.otf') format('opentype');
}

@font-face
{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('notoSans/NotoSansKR-Regular.woff2') format('woff2'),
        url('notoSans/NotoSansKR-Regular.woff') format('woff'),
        url('notoSans/NotoSansKR-Regular.otf') format('opentype');
}

@font-face
{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('notoSans/NotoSansKR-Medium.woff2') format('woff2'),
        url('notoSans/NotoSansKR-Medium.woff') format('woff'),
        url('notoSans/NotoSansKR-Medium.otf') format('opentype');
}

@font-face
{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('notoSans/NotoSansKR-Bold.woff2') format('woff2'),
        url('notoSans/NotoSansKR-Bold.woff') format('woff'),
        url('notoSans/NotoSansKR-Bold.otf') format('opentype');
}

@font-face
{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('notoSans/NotoSansKR-Black.woff2') format('woff2'),
        url('notoSans/NotoSansKR-Black.woff') format('woff'),
        url('notoSans/NotoSansKR-Black.otf') format('opentype');
}